version: 2.1

executors:
  ruby:
    resource_class: small
    docker:
      - image: cimg/ruby:3.3
  ruby-with-redis:
    resource_class: small
    docker:
      - image: cimg/ruby:3.3
      - image: redis:6.2
        command: redis-server

jobs:
  build:
    executor: ruby-with-redis
    steps:
      - checkout
      - run:
          name: Install Bundler specific version
          command: |
            gem install bundler --version "${BUNDLE_VERSION}" --force
      - run:
          name: Install Ruby Dependencies
          command: |
            bundle config set --local path 'vendor/bundle'
            bundle install --jobs=4 --retry=3
      - run:
          name: Run Tests
          command: bundle exec rake ci:specs
      - store_test_results:
          name: Store test results
          path: tmp/test-results
      - run:
          name: Run StandardRB
          command: bundle exec standardrb
      - persist_to_workspace:
          root: .
          paths:
            - vendor/bundle

workflows:
  main:
    jobs:
      - build:          
          context:
            - sidekiq-enterprise
            - nexus_readonly
